/* You can add global styles to this file, and also import other style files */
g, path {
  transform-origin: 240px 244px;
}

@keyframes scale {
  to { transform: scale(1, 1); }
}

@keyframes draw {
  to { stroke-dashoffset: 0 }
}

.background-primary {
  background-color: rgba(117, 25, 25, 1) !important;
}

.colour-primary {
  color: rgba(117, 25, 25, 1) !important;
}

.opacity-8 {
  opacity: .8;
}
