<div class='col-12'>
  <div class='row'>
    <h1 class="col-12 mb-3"> Experience at EHS Data </h1>
  </div>
  <div class='row'>
    <div class='col-4 px-4'>
      <div class="row">
        <div class="col-12">
          <h3>
            Register
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          Register is the internal software application at EHSData which is in charge of keeping track of clients, licences for our products
          (MonitorPro Desktop and MonitorPro Web) and invoicing for our clients.
        </div>
      </div>
    </div>
    <div class='col-4 px-4'>
      <div class="row">
        <div class="col-12">
          <h3>
            MonitorPro Web
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          MPWeb is one of the main software products which EHSData sells.
          MonitorPro gives your organisation a single, centralised source of environmental and sustainability data
          and reporting for the entire operation.
          Through an easy to use interface you can manage data and produce accurate reporting
          and analytics – quickly and painlessly.
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        </div>
      </div>
    </div>
    <div class='col-4 px-4'>
      <div class="row">
        <h3>
          Activations Api
        </h3>
      </div>
      <div class="row">
        MPActivations is a api which MonitorPro desktop uses to activate new instances of itself. It checks that the organisation has enough spare licences and reduces their number of available licences.
      </div>
    </div>
  </div>
</div>
